:root {
    --font-color: #fff8c0;
    --background-color: #292929;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

body {
    background-color: var(--background-color);
}

.link {
    text-decoration: none;
    color: inherit;
}

